body {
  margin: 0;
  font-family: "SpartanMB", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  letter-spacing: 0.1rem;
}

@font-face {
  font-family: "SpartanMB";
  src: url("./fonts/SpartanMB-Regular.otf");
  font-family: "SpartanMB-bold";
  src: url("./fonts/SpartanMB-Black.otf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
}
